body {
  background-image: url("globe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  text-align: center;
  font-size:43px;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

h3 {
  text-align: center;
  color: white;
}



#Wacko {
  position: initial;
  margin: auto;
  margin-bottom: 20%;
  border: 2px solid white;
  border-radius: 30px;
  width:400px;
  color: white;
}